<%- include("partials/header") %>
<!-- EJS look into the "views" folder-->


<h1>Home</h1>
<p><%= InnerText %></p>

<!-- Made new posts -->

<% postLists.forEach(element => { %>
    <h1><%= element.title %> </h1>
    <p><%= element.content.substring(0,100) + "..." %> 
        <a href="/posts/<%= element.title %>">Readmore</a> 
    </p>
<% }); %>


<%- include('partials/footer'); -%>